%h1.mt-3 退会の確認

#retirement-errors

%p 退会した場合、ユーザに関するデータがすべて削除されます。
%p ただし、以下の場合は削除できません。

%ul
  %li
    公開中の未終了イベントがある場合
  %li
    未終了の参加イベントがある場合
%hr

= button_to "退会する", retirements_path, method: :post, data: { turbo_confirm: "本当に退会しますか？" }, class: "btn btn-danger"
